<% include header %>

<div class="container">
    <div class="row">
            <div class="col-md-4">

<form action="">
<b>First Name:</b><br>
<input type="text" name="First Name" pattern="[A-Za-z]{2,}" required style="color:black"><br>
<b>Last Name:</b><br>
<input type="text" name="Last Name" pattern="[A-Za-z]{2,}" required style="color:black"><br>
<label for="phonenum">Phone Number (format: xxx-xxx-xxxx):</label><br/>
<input id="phonenum" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" required style="color:black" ><br>
<b>Email-id:</b><br>
<input type="email" name="email" required style="color:black"><br>
<b>Queries:</b><br>
<textarea name="qestions" rows="4" cols="40" style="color:black"></textarea> <br>

<input type="submit" value="submit" class="btn btn-success"> 
<input type="reset" value="cancel" class="btn btn-warning">
</form>
</div>

<div class="col-md-4" id="division">
    <h1>Contact:</h1>
    <h3>Name: Gone Sathwika</h3>
    <h3>Email-Id: gonesathwika@gmail.com</h3>
    <h3>Phone: +91 7036769888 </h3>
    <a href="https://bitbucket.org/SathwikaGone/">
        <i  class="fa fa-bitbucket" style="font-size:48px;color:blue"></i></a>
        <a href="https://github.com/SathwikaGone">
            <i  class="fa fa-github" style="font-size:48px;color:rgb(12, 12, 15)"></i></a>
        <a href="https://www.linkedin.com/feed/">
            <i  class="fa fa-linkedin" style="font-size:48px;color:rgb(53, 53, 219)"></i></a>
        <a href="https://www.instagram.com/gone_sathwika/">
            <i  class="fa fa-instagram" style="font-size:48px;color:rgb(158, 21, 78)"></i></a>
</div>
<div class="col-md-3" id="division1">
<img src="images\IMG_20181110_151236.jpg" class="img-circle" id="image" alt="Sathwika">   



</div>
</div>
</div>
<% include footer %>