<% include header %>


    <h1 style="color:white">Guess The Number</h1> 
    <p style="color:white">We have selected a random number between 1 - 10. 
    See if you can guess it.</p> 
    
    <div class="form"> 
        <label for="guessField" style="color:white">Enter a guess:  </label> 
        <input type = "text" id = "guessField" class = "guessField" > 
        <input type = "button" value = "Submit guess" 
            class = "guessSubmit" id = "submitguess" onclick="Random(document.getElementById('guessField').value);"> 
    </div> 
    <div><p style="color:white">Results of the unit tests are available at
            <a href="test/test.html">test/test.html</a>.</p></div>
            

<script src="js/game.js"></script>
<% include footer %>