<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A02 Assignment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/Sathwika.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <div class="row">
                <nav class="navbar navbar-inverse ">
                  <div class="container">
                    <div class="navbar-header">
                        
                     <a class="navbar-brand" href="/index">Introduction</a>
                     <a class="navbar-brand" href="/game">Game</a>
                     <a class="navbar-brand" href="/contact">contact</a>
                    </div>
                  </div>
                </nav>
        </div>