<% include header %>

<main>
		<article>
			<h2 class="section-header">Education</h2>
			<section id="current-section"><h2>I am from India.I am here to do my masters in Applied Computer Science for this fall 2018 in Northwest Missouri State University.I have done my under-graduation in Information Technology from Bhoj Reddy Engineering College for Women, Hyderabad. I am interested in learning new technologies.</h2></section>
			<h2 class="section-header">Intrests</h2>
			<section id="past-section"><h2>I like traveling different places and explore their culture. I love playing outdoor games, listening music. </h2></section>
			<h2 class="section-header">Skills</h2>
			<section id="future-section">
			<h2>My technical skills are C language, Java, Web technologies, Microsoft office (word, power point, excel),Easily adaptable to any changes, Quick learner and Responsible, Organizing skills. Apart from these i am a Basketball player.</h2></section>
            <h2 class="section-header">Contact</h2>
            <section id="sec"><h2>Phone:+91 7036769888</h2>
                <h2>Email: sathwika.lfa43@gmail.com</h2>
			</section>
		</article>
	</main>
</div>
<% include footer %>
