body {
  padding-top: 60px;
  padding-bottom: 10px;
    background-image:url("pic.jpeg");

    background-size:500%;
    background-repeat:no-repeat;

    margin: auto;
    border: 5px;
    border-color:white;
    font-style: normal;

    color:white;

}
footer{
  background-color: #000000;
  font-style: italic;
  text-align: center;
  color: white;
}
.form{
  color:white;
  margin-left:30px;
  margin-top:100px;
}
h2{
margin-left:300px;
}
#image{
  height:400px;
  width:300px;
}
#division{
  color:white;
  margin-top:100px;
}
#division1{
  color:white;
  margin-top:100px;
}
#form1{
  color:white;
}
.section{
  font-style: italic;


}
.section-header{
  font-style: italic;
}
#current-sec{
  font-style: italic;
}

#current-se{

  font-style: italic;
}
