body{
    background-image: url("/images/img5.jpg");
    background-repeat:no-repeat;
    background-size:1000%;
   margin-left:50px;
  margin-right:10px;
    border: 1px;
    border-color:white;
    font-style: normal;
}
header{
    font-size: 50px;
    text-align: center;
    background-color: #000000;
    color: white;
    border: 5px solid black;
}
footer{
    color: white;
}
article{
   
    border: 5px;
    border-color:white;
    font-style: normal;
}
.section-header{
    font-style: italic;
    text-align: left;
    color: white;
    font-size: 30px;
}
#current-section{
    color:white;
    border: 2px solid white;
    border-style: dotted solid;
    padding: 5px;
    font-size: 30px;
}
#past-section{
    color:white;
    border: 2px solid white;
    border-style: dotted solid;
    padding: 5px;
    font-size: 30px;
}
#sec{
    color:white;
    border: 2px solid white;
    border-style: dotted solid;
    padding: 5px;
    font-size: 30px;  
}
#future-section{
    color:white;
    border: 2px solid white;
    border-style: dotted solid;
    padding: 5px;
    font-size: 30px;
}
#schedule{
    font-size: 30px;
}
form{
    color:white;
}
input{
    color:black;
}
#image{
    height:300px;
    width:300px;
  }
  #division{
    margin-top:100px;
    color: white;
  }
  #division1{
    margin-top:100px;
    color: white;
  }
