* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1.8em Helvetica, Arial;
  background: rgb(147, 240, 240);
}

form {
  background: rgb(6, 7, 7);
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
  color: rgb(20, 184, 107);
}

form #button {
  color: #FFF;
  background: rgb(104, 136, 29);
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color:white;
  border:
}

#messages li {
  padding: 5px 10px;
  background: rgb(207, 187, 212);
  border-style: outset;
}

#messages li:nth-child(odd) {
  background: rgb(152, 125, 226);
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */